<h1>Lista Proyectos</h1>
    <%= link_to "Dashboard", project_dashboard_path%>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Contenido</th>
        <th>Fecha de inicio</th>
        <th>Fecha de culminación</th>
        <th>Estado</th>

    </tr>
    <% @projects.each do |pro| %>
    <tr>
        <td><%= pro.name %> </td>
        <td><%= pro.content %> </td>
        <td><%= pro.date_init.strftime("%d-%m-%Y") %> </td>
        <td></td>
        <td><%= pro.status %> </td>
    </tr>
    <% end %>
</table>
